<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StackView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74BA1C7B1CA232AD00930AAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74BA1C8F1CA232AD00930AAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74BA1C9A1CA232AD00930AAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
